.REDY-settings-table {
  width: 100%;
  text-align: center;
}
.REDY-settings-table td {
  padding: 5px;
  vertical-align: middle; /* Aligns items vertically in the middle */
}

.REDY-settings-table input[type="color"] {
  width: 60px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-right: 10px; /* Space between color picker and text box */
  display: inline-block;
  vertical-align: middle; /* Aligns with the text box */
}

input.REDY-color-input {
  width: 80px; /* Smaller width for the text box */
  display: inline-block;
  vertical-align: middle; /* Aligns with the color picker */
  padding: 5px;
}

.REDY-button-settings {
  width: 49%; /* Slightly less than 50% to account for spacing */
  /*padding: 10px 15px;
  font-size: 16px;*/
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.REDY-button-container {
  display: flex;
  justify-content: space-between;
  gap: 1%; /* Add a gap between the buttons */
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

button.REDY-reset-color {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-left: 4px;
}

